body {
    color: white;
    margin: 0;
    font-family: 'Minecraftia', sans-serif;
    font-size: 1.5em;
    line-height: 150%;
}

@font-face {
    font-family: 'Minecraftia';
    src: url('/fonts/Minecraftia-Regular.ttf') format('truetype');
}

.splash {
    font-family: 'Minecraftia', sans-serif;
    font-size: 1.25rem;
    color: #FFFF55;
    transform: rotate(-7deg);
    animation: splash 0.25s alternate infinite;
    cursor: pointer;
    position: absolute;
    right: -40px;
    bottom: 50%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes splash {
    0% {
      transform: scale(0.875) rotate(-20deg);
    }
    100% {
      transform: scale(1) rotate(-20deg);
    }
  }

  #navbar {
    padding: 5em;
    background: #603101;
    background-image: url('/images/grass.png');
    background-repeat: repeat-x;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


#header {
    padding: 1em;
    background-image: url('/images/dirt.png');
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    flex-direction: column;
}

#header img {
    max-width: 50rem;
}

#footer {
    padding: 1em;
    text-align: center;
    background-image: url('/images/bedrock.png');
    background-repeat: repeat-x;
}

.showcase {
    background-color: #000000AA;
}

a {
    color: inherit;
    text-decoration-thickness: 2px;
    text-underline-offset: -0.3em;
}

a:hover {
    text-decoration-thickness: 4px;
}

li {
    list-style-type: square;
}

button{
    font-family: 'Minecraftia', sans-serif;
    padding: 1em;
    padding-bottom: 0.4em;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background: #31ae1f;
    border: 0;
    position: relative;
    text-shadow: 0 2px 0 rgba(0,0,0,0.3);
  }
  
  button:hover{
    cursor: pointer;
    color: #FFFFA0;
  }
  
  button:after, button:before{
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNHB4IiBoZWlnaHQ9IjRweCIgdmlld2JveD0iMCAwIDRweCA0cHgiIHg9IjBweCIgeT0iMHB4Ij48cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSI0IiBmaWxsPSJyZ2IoMzcsIDE3NiwgNykiIC8+PC9zdmc+') top left no-repeat, url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNHB4IiBoZWlnaHQ9IjRweCIgdmlld2JveD0iMCAwIDRweCA0cHgiIHg9IjBweCIgeT0iMHB4Ij48cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSI0IiBmaWxsPSJyZ2IoMTQxLCAyNTMsIDkyKSIgLz48L3N2Zz4=') top right no-repeat, url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNHB4IiBoZWlnaHQ9IjRweCIgdmlld2JveD0iMCAwIDRweCA0cHgiIHg9IjBweCIgeT0iMHB4Ij48cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSI0IiBmaWxsPSJyZ2IoMTgsIDg4LCAzKSIgLz48L3N2Zz4=') bottom left no-repeat, url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNHB4IiBoZWlnaHQ9IjRweCIgdmlld2JveD0iMCAwIDRweCA0cHgiIHg9IjBweCIgeT0iMHB4Ij48cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSI0IiBmaWxsPSJyZ2IoMzYsIDE4MCwgNikiIC8+PC9zdmc+') bottom right no-repeat;
  }
  
  button:before{
    background: none;
    border-top: 4px solid #64fd1f;
    border-bottom: 4px solid #1e8c03;
    border-left: 4px solid #156c00;
    border-right: 4px solid #47d009;
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.15);
  }

#form-link {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #373737; */
    /* background: #b8b8b8; */
    background-color: rgb(49, 174, 31);
    color: rgba(94, 94, 94);
    font-family: 'Minecraftia', sans-serif;
    line-height: 0;
    text-decoration: none;
    padding: 1.5em;
    padding-bottom: 0.7em;
    border: rgb(94, 94, 94) 3px solid;
}

#form-link:hover {
    color: #FFFFA0;
}

.hoverable {
    transition: 0.3s;
}

.hoverable:hover {
    transform: translateY(-5px);
}

.mc-number {
    font-family: 'Minecraftia', sans-serif;
    width: 16px;
    height: 16px;
    text-align: center;
    padding: 4px;
}

.container {
    padding: 1em;
    background-image: linear-gradient(to bottom right, #C76B0F, #A25404);
    /* max-width: 24em; */
}

.section {
    max-width: 42em;
    margin-left: auto;
    margin-right: auto;
}

.container:has(.grid-steps) {
    background-image: url('/images/cobblestone.png')
}

.container:has(.section) {
    background-image: url('/images/deeplslate.png')
}

.showcase {
    display: grid;
    gap: 5em;
    margin: 0 auto;
}

.grid-steps {
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 1em;
    max-width: 50rem;
    margin: 0 auto;
    /* max-width:  */
}
@media (max-width: 32srem) {
    .grid-steps {
        grid-template-columns: 1fr;
    }
}

.item-step {
    padding: 1em;
    color: white;
    display: flex;
    position: relative;
    aspect-ratio: 2 / 1;
    background-size: cover;
}

.item-text {
    font-family: 'Minecraftia', sans-serif;
    background: #31ae1f;
    padding: 1em;
    padding-bottom: 0.4em;
    position: absolute;
    bottom: -20px;
    right: 0;
    font-size: 20px;
    font-weight: bold;
    text-shadow: black 1px 1px 8px;
}

  .item-text:after, .item-text:before{
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNHB4IiBoZWlnaHQ9IjRweCIgdmlld2JveD0iMCAwIDRweCA0cHgiIHg9IjBweCIgeT0iMHB4Ij48cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSI0IiBmaWxsPSJyZ2IoMzcsIDE3NiwgNykiIC8+PC9zdmc+') top left no-repeat, url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNHB4IiBoZWlnaHQ9IjRweCIgdmlld2JveD0iMCAwIDRweCA0cHgiIHg9IjBweCIgeT0iMHB4Ij48cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSI0IiBmaWxsPSJyZ2IoMTQxLCAyNTMsIDkyKSIgLz48L3N2Zz4=') top right no-repeat, url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNHB4IiBoZWlnaHQ9IjRweCIgdmlld2JveD0iMCAwIDRweCA0cHgiIHg9IjBweCIgeT0iMHB4Ij48cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSI0IiBmaWxsPSJyZ2IoMTgsIDg4LCAzKSIgLz48L3N2Zz4=') bottom left no-repeat, url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNHB4IiBoZWlnaHQ9IjRweCIgdmlld2JveD0iMCAwIDRweCA0cHgiIHg9IjBweCIgeT0iMHB4Ij48cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSI0IiBmaWxsPSJyZ2IoMzYsIDE4MCwgNikiIC8+PC9zdmc+') bottom right no-repeat;
  }
  
  .item-text:before{
    background: none;
    border-top: 4px solid #64fd1f;
    border-bottom: 4px solid #1e8c03;
    border-left: 4px solid #156c00;
    border-right: 4px solid #47d009;
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.15);
  }

#subtitle {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    padding-top: 1em;
}

.yt-embed {
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
}

.spacer {
    margin: 1em;
}

.banner {
    position: absolute;
    top: -10px;
    left: var(--spacing-4);
}

.banner img {
    height: 80px;
}

.banner:hover img {
    animation: wave-flag 0.5s linear infinite alternate;
}

@media (prefers-reduced-motion: reduce) {
    .banner:hover img {
        transition: 0.1875s cubic-bezier(0.375, 0, 0.675, 1) transform;
        transform-origin: top left;
    }
}

@keyframes wave-flag {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

.player1 {
    color: #FBFBFB;
}

.player2 {
    color: #4da14d;
}

.player1, .player2 {
    transition-duration: 1s;
    line-height: 150%;
}

.player1:hover, .player2:hover {
    opacity: 1;
}
